.root {
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(-45deg, #8ab1a4, #ffcdfc);

  @media (--tablet) {
    padding: 50px 0;    
  }
}

.search {
  margin-bottom: 20px;
}
