.root {
  padding: 20px 0;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(-45deg, #8ab1a4, #ffcdfc);

  @media (--tablet) {
    padding: 50px 0;    
  }
}

.wrapper {
  padding: 10px;
  border: 1px solid #000;
  background-color: white;
  border-radius: 4px;
}
