.title {
  margin-bottom: 10px;
  font-weight: 700;
}

.itemWrapper {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;

  & + & {
    margin-top: 10px;
  }
}

.linkWrapper {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
